---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/components/Hero.astro"
import WhyChoose from "@/components/WhyChoose.astro"
import LatestArticles from "@/components/LatestArticles.astro"
---

<Layout>
  <main>
    <Hero />
    <WhyChoose />
    <LatestArticles />
  </main>
</Layout>
